* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  background-color: #25395c;
  font-family: "Noto Sans";
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: #fff;
  padding-left: 50px;
  padding-right: 160px; }

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

a {
  text-decoration: none; }

header {
  padding-top: 50px;
  text-align: right;
  display: flex;
  justify-content: space-between; }

header ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding-left: 45px; }

header ul li:last-child {
  padding-left: 110px; }

header ul li a {
  color: #b3b3b3;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s;
  padding: 10px 0; }

header ul li a.active {
  color: #339933; }

header ul li a:hover {
  text-decoration: none;
  color: #47ce47; }

header ul li ul {
  position: absolute;
  left: 0;
  top: 50px;
  padding-left: 0;
  width: 300px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  text-align: left;
  padding-left: 45px; }

header ul li ul li {
  padding-left: 0px;
  margin-bottom: 35px;
  display: block; }

header ul li ul li:last-child {
  padding-left: 0px; }

header ul li ul li a {
  white-space: nowrap; }

header ul li:hover ul {
  opacity: 1;
  visibility: visible; }

.logo-fixed {
  position: fixed;
  left: 76px;
  top: 86px;
  display: none; }

.logo-fixed.show {
  display: block; }

.logo-header {
  position: relative; }

.logo-header img {
  display: none; }

.logo-header.show img {
  display: block; }

.left-text {
  font-size: 15px;
  position: fixed;
  left: 55px;
  bottom: 50%;
  transform: translate(-50%, 0) rotate(-90deg);
  transform-origin: center center; }

.left-text a {
  color: #b3b3b3;
  transition: all 0.2s; }

.left-text a:first-child {
  display: inline-block;
  padding-right: 50px; }

.left-text a.active {
  color: #339933; }

.left-text a:hover {
  color: #47ce47; }

section {
  display: none; }

section.show {
  display: flex;
  flex-direction: column; }

.content {
  text-align: right;
  margin: auto 0; }

.home {
  text-align: right;
  align-items: flex-end;
  color: #339933; }

.home .logo {
  width: 109px;
  margin-bottom: 30px; }

.home .tm {
  margin-bottom: 180px; }

.home .quote {
  line-height: 27px;
  font-size: 19px; }

.home .quote span {
  display: block;
  margin-bottom: 30px; }

.home .quote br {
  display: none; }

.about-us {
  color: #339933;
  max-width: 800px;
  text-align: left;
  margin: auto; }

.about-us p {
  margin-bottom: 30px;
  font-size: 15px; }

.alliance {
  max-width: 800px;
  text-align: left;
  margin: auto; }

.alliance a {
  color: #339933;
  font-size: 15px; }

.careers .container {
  max-width: 800px;
  text-align: left;
  margin: auto; }

.careers .heading-inner {
  color: #339933;
  margin-bottom: 30px;
  font-size: 19px; }

.careers .tab-label {
  color: #b3b3b3;
  font-size: 15px; }

.climate-and-behavior {
  max-width: 800px;
  text-align: left;
  margin: auto;
  color: #339933; }

.climate-and-behavior p {
  margin-bottom: 30px;
  font-size: 15px; }

.climate-and-behavior p .plus {
  color: #e95a27; }

.climate-and-power-management {
  max-width: 800px;
  text-align: left;
  margin: auto;
  color: #339933; }

.climate-and-power-management p {
  margin-bottom: 30px;
  font-size: 15px; }

.careers-quote {
  color: #339933;
  font-size: 15px;
  text-align: right; }

.contact {
  max-width: 800px;
  text-align: left;
  margin: auto;
  color: #b3b3b3;
  font-size: 15px; }

.contact .heading-inner {
  color: #339933;
  font-size: 21px;
  margin-bottom: 60px; }

.contact .general {
  margin-bottom: 20px; }

.contact .email {
  margin-bottom: 100px; }

.contact .info {
  margin-bottom: 30px; }

.contact .email-address {
  color: #b3b3b3; }

.contact .email-address img {
  margin-left: 45px;
  vertical-align: middle;
  transition: all 0.2s;
  display: inline-block; }

.contact .email-address:hover {
  text-decoration: underline; }

.contact .email-address:hover img {
  transform: translateX(10px); }

input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
  text-align: left;
  margin-bottom: 30px; }

.tab-label {
  padding: 1em 0;
  cursor: pointer;
  color: #339933;
  font-size: 16px;
  /* Icon */ }

.tab-label::after {
  content: "+";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
  color: #e95a27;
  margin-left: 10px; }

.tab-content {
  max-height: 0;
  transition: all 0.35s;
  padding: 0 1.2em;
  font-size: 14px; }

input:checked + .tab-label {
  color: #fff; }

input:checked + .tab-label::after {
  content: "-"; }

input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em 1.2em; }

footer {
  position: relative;
  padding-bottom: 45px; }

footer ul {
  margin-bottom: 0; }

footer ul li {
  list-style: none;
  display: inline-block;
  margin-right: 32px; }

footer ul li a {
  color: #339933;
  font-size: 33.5px;
  transition: all 0.2s; }

footer ul li a:hover {
  color: #47ce47; }

footer ul li:last-child {
  margin-right: 0; }

footer .copyright {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
  color: #b3b3b3;
  line-height: 16px;
  font-size: 14px; }

footer .copyright .sign {
  font-size: 16px; }

.slick-dots li button:before {
  color: #fff !important;
  opacity: 1; }

.slick-dots li.slick-active button:before {
  color: #339933 !important;
  font-size: 8px; }

@media screen and (max-width: 768px) {
  body {
    padding-left: 40px;
    padding-right: 40px; }
  .left-text {
    display: none; }
  header {
    display: none; }
  .content {
    margin-top: 60px; }
  .main {
    flex-grow: 1;
    display: block; }
  .copyright {
    display: none; }
  footer {
    text-align: center; }
  .tm {
    display: none; }
  .logo-fixed {
    position: relative;
    left: 0px;
    top: 36px;
    width: 80px; }
  .home .logo {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px; }
  .home .tm {
    margin-bottom: 80px; }
  .home img {
    width: 165px; }
  .home .quote {
    max-width: 307px;
    margin: auto; }
  .home .quote br {
    display: inline; }
  .about-us {
    text-align: right;
    line-height: 2; }
  .about-us .heading {
    color: #fff;
    font-size: 16px; }
  .about-us p {
    margin-bottom: initial;
    font-size: 14px; }
  .climate-and-behavior {
    text-align: right;
    line-height: 2; }
  .climate-and-behavior .heading {
    color: #fff;
    margin-bottom: 80px;
    font-size: 14px; }
  .climate-and-behavior .heading span {
    font-size: 16px;
    display: block;
    margin-bottom: 27px; }
  .climate-and-behavior p {
    margin-bottom: initial;
    font-size: 14px; }
  .climate-and-power-management {
    text-align: right;
    line-height: 2; }
  .climate-and-power-management .heading {
    color: #fff;
    margin-bottom: 80px;
    font-size: 14px; }
  .climate-and-power-management .heading span {
    font-size: 16px;
    display: block;
    margin-bottom: 27px; }
  .climate-and-power-management p {
    margin-bottom: initial;
    font-size: 14px; }
  .alliance {
    text-align: right; }
  .alliance .heading {
    color: #fff;
    margin-bottom: 100px;
    font-size: 16px; }
  .alliance p {
    margin-bottom: initial; }
  .tab {
    text-align: right;
    margin-bottom: 15px; }
  .tab-label {
    font-size: 12px; }
  .tab-content {
    font-size: 12px; }
  .careers .container {
    text-align: right; }
  .careers .heading {
    color: #fff;
    margin-bottom: 50px;
    font-size: 14px; }
  .careers p {
    margin-bottom: initial; }
  .contact {
    text-align: right; }
  .contact .heading {
    color: #fff;
    margin-bottom: 100px;
    font-size: 14px; }
  .contact .heading-inner {
    font-size: 14px; } }

@media screen and (min-width: 768px) {
  .d-lg-none {
    display: none; }
  .d-lg-block {
    display: block; } }

@media screen and (min-width: 768px) and (max-width: 1200px) {
  body {
    padding-left: 80px; } }

.d-none {
  display: none; }
